In [1]:
import sys
sys.path.append(r"/home/graham/Documents/Ironhack/Final-Project")
import src
import pandas as pd

In [2]:
path = ('/home/graham/Documents/Ironhack/Final-Project/data/global-hunger-index.csv')
df_21 = src.read_csv_file(path)

In [3]:
path = ('/home/graham/Documents/Ironhack/Final-Project/data/GHI2022 scores.csv')
df_22 = src.read_csv_file(path)

In [4]:
df_21 = df_21.drop(columns='411773-annotations')

In [5]:
df_21 = df_21.rename(columns={'Global Hunger Index (2021)': 'GHI', 'Entity': 'Country'})

In [6]:
df_22 = df_22.drop(columns=['2000', '2007', '2014', 'Absolute change since 2014', '% change since 2014'])

In [7]:
df_22_melted = df_22.melt(id_vars='Country', var_name='Year', value_name='GHI')

In [8]:
df_22_melted['Year'] = df_22_melted['Year'].astype(int)

In [9]:
df_combined = pd.merge(df_21, df_22_melted, how='outer')
df_combined = df_combined.groupby(['Country', 'Year'], as_index=False)['GHI'].first()

In [10]:
df_combined = df_combined[df_combined['Year'].isin([2021, 2022])].reset_index(drop=True)

In [11]:
import pycountry
codes = []
for country in df_combined['Country']:
    try:
        code = pycountry.countries.search_fuzzy(country)[0].alpha_3
    except LookupError:
        code = 'unknown'
    codes.append(code)
df_combined['Code'] = codes

In [12]:
df_combined = df_combined.dropna()

In [27]:
df_combined

         Country  Year   GHI Code
0    Afghanistan  2021  28.3  AFG
1    Afghanistan  2022  29.9  AFG
2        Albania  2021   6.2  ALB
3        Albania  2022   6.2  ALB
4        Algeria  2021   6.9  DZA
..           ...   ...   ...  ...
258        Yemen  2021  45.1  YEM
259        Yemen  2022  45.1  YEM
260       Zambia  2021  27.5  ZMB
261       Zambia  2022  29.3  ZMB
262     Zimbabwe  2021  27.5  ZWE

[249 rows x 4 columns]

In [28]:
ghi_df = df_combined.pivot(index=['Country'], columns='Year', values='GHI')

In [30]:
df_combined.to_csv('/home/graham/Documents/Ironhack/Final-Project/data/GHI.csv')

In [29]:
ghi_df

Year         2021  2022
Country
Afghanistan  28.3  29.9
Albania       6.2   6.2
Algeria       6.9   6.9
Angola       26.0  25.9
Argentina     5.3   6.8
...           ...   ...
Viet Nam      NaN  11.9
Vietnam      13.6   NaN
Yemen        45.1  45.1
Zambia       27.5  29.3
Zimbabwe     27.5   NaN

[147 rows x 2 columns]