In [2]:
import sys
sys.path.append(r"/home/graham/Documents/Ironhack/Final-Project")

import src

import matplotlib.pyplot as plt

In [3]:
path = '/home/graham/Documents/Ironhack/Final-Project/data/tax-rates.csv'
tax_df = src.read_csv_file(path)

In [4]:
tax_df = tax_df.drop(['Unnamed: 0', 'iso_2', 'iso_3', 'continent'], axis=1)

In [5]:
tax_df = tax_df.drop(columns=[col for col in tax_df.columns if col.isdigit() and 1980 <= int(col) <= 2007])

In [6]:
tax_df = tax_df.dropna()

In [7]:
tax_df['mean_tax_rate'] = tax_df.loc[:, '2008':'2022'].mean(axis=1)

In [8]:
tax_df

,country,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,mean_tax_rate
0,Aruba,28.00,28.00,28.00,28.00,28.00,28.00,28.00,28.00,25.00,25.00,25.00,25.00,25.00,25.00,25.00,26.600000
1,Afghanistan,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.000000
2,Angola,35.00,35.00,35.00,35.00,35.00,35.00,35.00,30.00,30.00,30.00,30.00,30.00,30.00,25.00,25.00,31.666667
3,Anguilla,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000000
5,Albania,10.00,10.00,10.00,10.00,10.00,10.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,15.00,13.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Samoa,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.00,27.000000
247,Yemen,35.00,35.00,35.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,20.00,23.000000
248,South Africa,34.55,34.55,34.55,34.55,34.55,28.00,28.00,28.00,28.00,28.00,28.00,28.00,28.00,28.00,28.00,30.183333
249,Zambia,35.00,35.00,35.00,35.00,35.00,35.00,35.00,35.00,35.00,35.00,35.00,35.00,35.00,35.00,30.00,34.666667
250,Zimbabwe,30.90,30.90,25.75,25.75,25.75,25.75,25.75,25.75,25.75,25.75,25.75,25.75,24.72,24.72,24.72,26.230667

In [9]:
tax_df = tax_df.reset_index(drop=True).sort_values('mean_tax_rate', ascending=False)

In [10]:
tax_df[['country', 'mean_tax_rate']].head(10)

                              country  mean_tax_rate
131                       Puerto Rico      37.400000
34   Democratic Republic of the Congo      36.000000
33                           Cameroon      35.566667
109                             Malta      35.000000
63                             Guinea      35.000000
64                  Equatorial Guinea      35.000000
172                            Zambia      34.666667
162          United States of America      34.663318
55                             France      34.229570
86                              Japan      34.162000

In [11]:
tax_df[['country', 'mean_tax_rate']].tail(10)

                      country  mean_tax_rate
60                   Guernsey            0.0
22                    Bermuda            0.0
84                     Jersey            0.0
166    British Virgin Islands            0.0
6        United Arab Emirates            0.0
40             Cayman Islands            0.0
75                Isle of Man            0.0
17                    Bahrain            0.0
3                    Anguilla            0.0
152  Turks and Caicos Islands            0.0

In [12]:
import plotly.express as px

fig = px.choropleth(tax_df, 
                    locations='country', 
                    locationmode='country names', 
                    color='mean_tax_rate', 
                    color_continuous_scale='Viridis', 
                    range_color=(0, 50),
                    title='Average Tax Rates by Country')

fig.show()

In [13]:
tax_df.to_csv('/home/graham/Documents/Ironhack/Final-Project/data/tax_df.csv')